/* Write your CSS here */
.not-found-image {
  width: 40%;
}
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-heading {
  color: #616e7c;
  font-family: 'Roboto';
  font-weight: bold;
}
.not-found-description {
  color: #616e7c;
  font-family: 'Roboto';
}
